Service References/EAIFDataServiceReference/EAIFDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EAIFDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://120.25.240.193:8078/EAIFDataService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://120.25.240.193:8078/EAIFDataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://120.25.240.193:8078/EAIFDataService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EAIFStorageService.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEAIFDataService_LoadCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompany" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyList" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAlert" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAlertResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadAlertList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadAlertList" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadAlertList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadAlertListResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_SearchAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAlerts" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_SearchAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadContactorList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadContactorList" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadContactorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadContactorListResponse" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadNotificationList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadNotificationList" />
  </wsdl:message>
  <wsdl:message name="IEAIFDataService_LoadNotificationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadNotificationListResponse" />
  </wsdl:message>
  <wsdl:portType name="IEAIFDataService">
    <wsdl:operation name="LoadCompany">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadCompany" message="tns:IEAIFDataService_LoadCompany_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadCompanyResponse" message="tns:IEAIFDataService_LoadCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCompanyList">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadCompanyList" message="tns:IEAIFDataService_LoadCompanyList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadCompanyListResponse" message="tns:IEAIFDataService_LoadCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAlert">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadAlert" message="tns:IEAIFDataService_LoadAlert_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadAlertResponse" message="tns:IEAIFDataService_LoadAlert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadAlertList">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadAlertList" message="tns:IEAIFDataService_LoadAlertList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadAlertListResponse" message="tns:IEAIFDataService_LoadAlertList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAlerts">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/SearchAlerts" message="tns:IEAIFDataService_SearchAlerts_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/SearchAlertsResponse" message="tns:IEAIFDataService_SearchAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadContactorList">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadContactorList" message="tns:IEAIFDataService_LoadContactorList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadContactorListResponse" message="tns:IEAIFDataService_LoadContactorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadNotificationList">
      <wsdl:input wsam:Action="http://tempuri.org/IEAIFDataService/LoadNotificationList" message="tns:IEAIFDataService_LoadNotificationList_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IEAIFDataService/LoadNotificationListResponse" message="tns:IEAIFDataService_LoadNotificationList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEAIFDataService" type="tns:IEAIFDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadCompany">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCompanyList">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadCompanyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAlert">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAlertList">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadAlertList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAlerts">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/SearchAlerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadContactorList">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadContactorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadNotificationList">
      <soap:operation soapAction="http://tempuri.org/IEAIFDataService/LoadNotificationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EAIFDataService">
    <wsdl:port name="BasicHttpBinding_IEAIFDataService" binding="tns:BasicHttpBinding_IEAIFDataService">
      <soap:address location="http://120.25.240.193:8078/EAIFDataService/EAIFDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>