Service References/EAIFDataServiceReference/EAIFDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EAIFStorageService.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EAIFStorageService.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://120.25.240.193:8078/EAIFDataService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="tns:CompanyCategory" />
      <xs:element minOccurs="0" name="ContactorID" type="xs:int" />
      <xs:element minOccurs="0" name="DangerCategory" type="tns:DangerCategory" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LawPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
      <xs:element minOccurs="0" name="Storage" type="xs:double" />
      <xs:element minOccurs="0" name="contactorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:simpleType name="CompanyCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Type1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Type2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompanyCategory" nillable="true" type="tns:CompanyCategory" />
  <xs:simpleType name="DangerCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cat1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cat2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DangerCategory" nillable="true" type="tns:DangerCategory" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompanyID" type="ser:guid" />
      <xs:element minOccurs="0" name="DangerSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Status" type="tns:AlertStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
  <xs:simpleType name="AlertStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unhandled" />
      <xs:enumeration value="Incorrect" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="Complete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlertStatus" nillable="true" type="tns:AlertStatus" />
  <xs:complexType name="ArrayOfAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alert" nillable="true" type="tns:Alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlert" nillable="true" type="tns:ArrayOfAlert" />
  <xs:complexType name="ArrayOfContactor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contactor" nillable="true" type="tns:Contactor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactor" nillable="true" type="tns:ArrayOfContactor" />
  <xs:complexType name="Contactor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contactor" nillable="true" type="tns:Contactor" />
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="tns:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotification" nillable="true" type="tns:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="tns:NotficationStatus" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:NotificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:simpleType name="NotficationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnRead">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Read">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotficationStatus" nillable="true" type="tns:NotficationStatus" />
  <xs:simpleType name="NotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alert">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceBug">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="User">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationType" nillable="true" type="tns:NotificationType" />
</xs:schema>